APP_NAME=Edunoly
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://edunoly.com

LOG_CHANNEL=stack
LOG_LEVEL=debug

# Para la base de datos local
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=edunoly_db
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=file
CACHE_STORE=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
